.fileBrowser {
  @apply flex text-15px color-#969696 cursor-pointer w-full bg-#2e3134;
  border-radius: 10px;
  box-shadow: 0px 18px 30px 3px rgba(0, 0, 0, 0.75);
}

.codeBox {
  @apply text-14px flex-grow-1 h-600px overflow-auto cursor-text;
  border-radius: 0px 10px 10px 0px;
  background-color: rgb(47, 47, 47);
}

.codeBox .codeBoxPre {
  @apply overflow-visible;
}

.files {
  @apply max-w-200px;
  flex: 1 1 200px;
}

.files ul {
  @apply m-0 py-4 px-0;
  list-style-type: none;
}

.files li {
  @apply py-1 px-4;
}

.files li.selected {
  @apply bg-#1d1f21 text-#e8e8e8;
}

.files .highlighted {
  box-shadow: 0 0 10pt 2pt #145b98;
  border-radius: 10px;
}

